<config>
    <modules>
        <VS7_PromoBanners>
            <version>0.1.0</version>
        </VS7_PromoBanners>
    </modules>
    <global>
        <helpers>
            <vs7_promobanners>
                <class>VS7_PromoBanners_Helper</class>
            </vs7_promobanners>
        </helpers>
        <models>
            <vs7_promobanners>
                <class>VS7_PromoBanners_Model</class>
                <resourceModel>vs7_promobanners_resource</resourceModel>
            </vs7_promobanners>
            <vs7_promobanners_resource>
                <class>VS7_PromoBanners_Model_Resource</class>
                <entities>
                    <banner>
                        <table>vs7_promobanners</table>
                    </banner>
                    <banner_category>
                        <table>vs7_promobanners_category</table>
                    </banner_category>
                </entities>
            </vs7_promobanners_resource>
        </models>
        <resources>
            <vs7_promobanners_setup>
                <setup>
                    <module>VS7_PromoBanners</module>
                </setup>
            </vs7_promobanners_setup>
            <vs7_promobanners_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_promobanners_write>
            <vs7_promobanners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_promobanners_read>
        </resources>
        <blocks>
            <vs7_promobanners>
                <class>VS7_PromoBanners_Block</class>
            </vs7_promobanners>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <VS7_PromoBanners after="Mage_Adminhtml">VS7_PromoBanners_Adminhtml</VS7_PromoBanners>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vs7_promobanners>
                    <file>vs7_promobanners.xml</file>
                </vs7_promobanners>
            </updates>
        </layout>
        <events>
            <salesrule_rule_save_after>
                <observers>
                    <vs7_promobanners>
                        <type>singleton</type>
                        <class>vs7_promobanners/adminhtml_observer</class>
                        <method>saveBannerData</method>
                    </vs7_promobanners>
                </observers>
            </salesrule_rule_save_after>
        </events>
    </adminhtml>
</config>